* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FEEFEE;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}


footer {
    position: relative;
    margin-top: 40px;
    margin-bottom: 120px;
    padding-top: 80px;
}


code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

span {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

small {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav ul li a {
    color: #FEEFEE;
    text-decoration: none;
}

section {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


.teal {
    color: #00ADB5;
}

.unclickable {
    pointer-events: none;
}

.pad-right {
    padding-right: 20px;
}

.pad-top-25 {
    padding-top: 20px;
}

.pad-top-10 {
    padding-top: 10px;
}

.centered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.btn {
    background-color: #EEEFEE;
    color: #FEEFEE;
    text-decoration: none;
    padding: 7px 3px;
    border: 2px solid transparent;
}

.btn:hover {
    border: 2px solid #00ADB5;
}

.to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 5px;
    background-color: transparent;
    color: #9C27B0;
    z-index: 1000;
}

.icon {
    display: inline-flex; /* Aligns children (icons) horizontally */
    align-items: center; /* Centers items vertically within the container */
    gap: 10px; /* Adds space between icons if needed */
}

.contact-text a {
    text-decoration: none;
    font-weight: bold;
    color: #00ADB5;
}

.contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.payment-address {
    padding-top: 1px;
}


@media (max-width: 992px) {
    .payment-address {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        max-width: 992px;
    }
}

#email {
    color: #ffffff;
}