* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FEEFEE;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    visibility: visible;
}


h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}


footer {
    position: relative;
    margin-top: 40px;
    margin-bottom: 160px;
    padding-top: 80px;
}

p {
    line-height: 1.65;
    margin-bottom: 1em;
    letter-spacing: 0.02em;
}

code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

span {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

small {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav ul li a {
    color: #FEEFEE;
    text-decoration: none;
}

section {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


.teal {
    color: #00ADB5;
}

.pad-right {
    padding-right: 20px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-top-10 {
    padding-top: 10px;
}

.centered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.btn {
    background-color: #EEEFEE;
    color: #FEEFEE;
    text-decoration: none;
    padding: 7px 3px;
    border: 2px solid;
    border-color: transparent;
    transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;

}

.btn:hover {
    border-color: #00ADB5;
    transform: scale(1.05);
}

.to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 5px;
    background-color: transparent;
    color: #FEEFEE;
    z-index: 1000;
}

@media (max-width: 767px) {
    .hide-on-mobile {
      display: none;
    }
  }

.icon {
    display: inline-flex; /* Aligns children (icons) horizontally */
    align-items: center; /* Centers items vertically within the container */
    gap: 10px; /* Adds space between icons if needed */
    transition: transform 0.2s ease-in-out;
}

.icon img:hover {
    transform: scale(1.1);
}

.contact-text {
    margin: auto;
    width: 80%;
}

.contact-email {
    font-weight: bold;
    color: #00ADB5;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
}

.contact-email:hover {
    color: #1bcbd4;
    transform: scale(1.05);
}

.contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    place-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info a {
    text-decoration: none;
    font-weight: bold;
    color: #00ADB5;
}

.payment-address {
    padding-top: 1px;
}


@media (max-width: 992px) {
    .payment-address {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        max-width: 992px;
    }
}

#email {
    color: #ffffff;
    text-align: center;
    display: block;
    padding-bottom: 20px;
}

.nav-bar {
    background-color: #121212;
    padding-top: 1px;
    padding-bottom: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-bar ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-bar li {
    margin: 0 5px;
    padding: 0 5px;
}

.nav-bar a {
    color: #ececec;
    text-decoration: none;
    display: inline-block;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.nav-bar a:hover {
    color: #f4f4f4;
    transform: scale(1.1);
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .nav-bar ul {
        -webkit-box-orient: vertical;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 0 10px 0 0;
    }

    .nav-bar li a {
        font-size: 1.0rem;
    }

    .nav-bar li {
        margin: 0 0 0 5px;
        padding: 5px;
    }

    .nav-bar li a {
        padding: 0px 0px;
    }

    .hide-on-small {
        display: none;
    }
}

#splash h2 {
    color: #AAAAAA;
}

.splash-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 666px;
}

.splash-text a {
    text-decoration: none;
    font-weight: bold;
    color: #00ADB5;
}


.splash-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.splash-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 500px;
}

.splash-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 768px) {

    .splash-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 0px;
    }

    .splash-image {
        display: none;
    }
}