.nav-bar {
    background-color: #121212;
    padding-top: 1px;
    padding-bottom: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.nav-bar ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-bar li {
    margin: 0 5px;
    padding: 0 5px;
}

.nav-bar a {
    color: #ececec;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.nav-bar a:hover {
    transform: scale(1.1);
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .nav-bar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .nav-bar li a {
        font-size: 0.9rem;
    }

    .nav-bar li {
        margin: 0;
        padding: 5px;
    }

    .nav-bar li a {
        padding: 0px 0px;
    }

    .hide-on-small {
        display: none;
    }
}
