.splash-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 666px;
}

.splash-text a {
    text-decoration: none;
    font-weight: bold;
    color: #00ADB5;
}


.splash-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.splash-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 500px;
}

.splash-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 768px) {

    .splash-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 230px;
    }

    .splash-image {
        display: none;
    }
}